#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules (sorted alphabetically)
#
.*
*.a
*.asn1.[ch]
*.bin
*.bz2
*.c.[012]*.*
*.dt.yaml
*.dtb
*.dtb.S
*.dwo
*.elf
*.gcno
*.gz
*.i
*.ko
*.lex.c
*.ll
*.lst
*.lz4
*.lzma
*.lzo
*.mod
*.mod.c
*.ns_deps
*.o
*.o.*
*.patch
*.s
*.so
*.so.dbg
*.su
*.symtypes
*.tab.[ch]
*.tar
*.xz
*.symversions
arch/arm64/boot/dts/allwinner/sun50i-a64-amarula-relic.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-amarula-relic.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-bananapi-m64.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-bananapi-m64.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-nanopi-a64.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-nanopi-a64.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-oceanic-5205-5inmfd.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-oceanic-5205-5inmfd.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-olinuxino-emmc.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-olinuxino-emmc.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-olinuxino.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-olinuxino.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-orangepi-win.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-orangepi-win.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-pine64-lts.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-pine64-lts.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-pine64-plus.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-pine64-plus.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-pine64.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-pine64.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-pinebook.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-pinebook.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-sopine-baseboard.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-sopine-baseboard.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-a64-teres-i.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-a64-teres-i.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-bananapi-m2-plus-v1.2.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-bananapi-m2-plus-v1.2.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-bananapi-m2-plus.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-bananapi-m2-plus.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-emlid-neutis-n5-devboard.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-emlid-neutis-n5-devboard.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-libretech-all-h3-cc.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-libretech-all-h3-cc.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-nanopi-neo-plus2.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-nanopi-neo-plus2.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-nanopi-neo2.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-nanopi-neo2.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-pc2.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-pc2.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-prime.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-prime.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-zero-plus.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-zero-plus.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-zero-plus2.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h5-orangepi-zero-plus2.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h6-beelink-gs1.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h6-beelink-gs1.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h6-orangepi-3.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h6-orangepi-3.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h6-orangepi-lite2.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h6-orangepi-lite2.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h6-orangepi-one-plus.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h6-orangepi-one-plus.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h6-pine-h64.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h6-pine-h64.dtb.reverse.dts
arch/arm64/boot/dts/allwinner/sun50i-h6-tanix-tx6.dtb.dtout
arch/arm64/boot/dts/allwinner/sun50i-h6-tanix-tx6.dtb.reverse.dts
arch/arm64/boot/dts/exynos/exynos2100-smdk2100.dtbo
arch/arm64/boot/dts/exynos/exynos2100-smdk2100.dtbo.dtout
arch/arm64/boot/dts/exynos/exynos2100-smdk2100.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev02.dtbo
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev02.dtbo.dtout
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev02.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev10.dtbo
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev10.dtbo.dtout
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev10.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev11.dtbo
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev11.dtbo.dtout
arch/arm64/boot/dts/exynos/exynos2100-universal2100_rev11.dtbo.reverse.dts
arch/arm64/boot/dts/exynos/exynos2100.dtb.dtout
arch/arm64/boot/dts/exynos/exynos2100.dtb.reverse.dts
arch/arm64/boot/dts/exynos/exynos5433-tm2.dtb.dtout
arch/arm64/boot/dts/exynos/exynos5433-tm2.dtb.reverse.dts
arch/arm64/boot/dts/exynos/exynos5433-tm2e.dtb.dtout
arch/arm64/boot/dts/exynos/exynos5433-tm2e.dtb.reverse.dts
arch/arm64/boot/dts/exynos/exynos7-espresso.dtb.dtout
arch/arm64/boot/dts/exynos/exynos7-espresso.dtb.reverse.dts
arch/arm64/boot/dts/hisilicon/hi3660-hikey960.dtb.dtout
arch/arm64/boot/dts/hisilicon/hi3660-hikey960.dtb.reverse.dts
arch/arm64/boot/dts/hisilicon/hi3670-hikey970.dtb.dtout
arch/arm64/boot/dts/hisilicon/hi3670-hikey970.dtb.reverse.dts
arch/arm64/boot/dts/hisilicon/hi3798cv200-poplar.dtb.dtout
arch/arm64/boot/dts/hisilicon/hi3798cv200-poplar.dtb.reverse.dts
arch/arm64/boot/dts/hisilicon/hi6220-hikey.dtb.dtout
arch/arm64/boot/dts/hisilicon/hi6220-hikey.dtb.reverse.dts
arch/arm64/boot/dts/hisilicon/hip05-d02.dtb.dtout
arch/arm64/boot/dts/hisilicon/hip05-d02.dtb.reverse.dts
arch/arm64/boot/dts/hisilicon/hip06-d03.dtb.dtout
arch/arm64/boot/dts/hisilicon/hip06-d03.dtb.reverse.dts
arch/arm64/boot/dts/hisilicon/hip07-d05.dtb.dtout
arch/arm64/boot/dts/hisilicon/hip07-d05.dtb.reverse.dts
arch/arm64/boot/dts/qcom/apq8016-sbc.dtb.dtout
arch/arm64/boot/dts/qcom/apq8016-sbc.dtb.reverse.dts
arch/arm64/boot/dts/qcom/apq8096-db820c.dtb.dtout
arch/arm64/boot/dts/qcom/apq8096-db820c.dtb.reverse.dts
arch/arm64/boot/dts/qcom/ipq8074-hk01.dtb.dtout
arch/arm64/boot/dts/qcom/ipq8074-hk01.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8916-longcheer-l8150.dtb.dtout
arch/arm64/boot/dts/qcom/msm8916-longcheer-l8150.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8916-mtp.dtb.dtout
arch/arm64/boot/dts/qcom/msm8916-mtp.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8916-samsung-a3u-eur.dtb.dtout
arch/arm64/boot/dts/qcom/msm8916-samsung-a3u-eur.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8916-samsung-a5u-eur.dtb.dtout
arch/arm64/boot/dts/qcom/msm8916-samsung-a5u-eur.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8992-bullhead-rev-101.dtb.dtout
arch/arm64/boot/dts/qcom/msm8992-bullhead-rev-101.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8994-angler-rev-101.dtb.dtout
arch/arm64/boot/dts/qcom/msm8994-angler-rev-101.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8996-mtp.dtb.dtout
arch/arm64/boot/dts/qcom/msm8996-mtp.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8998-asus-novago-tp370ql.dtb.dtout
arch/arm64/boot/dts/qcom/msm8998-asus-novago-tp370ql.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8998-hp-envy-x2.dtb.dtout
arch/arm64/boot/dts/qcom/msm8998-hp-envy-x2.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8998-lenovo-miix-630.dtb.dtout
arch/arm64/boot/dts/qcom/msm8998-lenovo-miix-630.dtb.reverse.dts
arch/arm64/boot/dts/qcom/msm8998-mtp.dtb.dtout
arch/arm64/boot/dts/qcom/msm8998-mtp.dtb.reverse.dts
arch/arm64/boot/dts/qcom/qcs404-evb-1000.dtb.dtout
arch/arm64/boot/dts/qcom/qcs404-evb-1000.dtb.reverse.dts
arch/arm64/boot/dts/qcom/qcs404-evb-4000.dtb.dtout
arch/arm64/boot/dts/qcom/qcs404-evb-4000.dtb.reverse.dts
arch/arm64/boot/dts/qcom/sdm845-cheza-r1.dtb.dtout
arch/arm64/boot/dts/qcom/sdm845-cheza-r1.dtb.reverse.dts
arch/arm64/boot/dts/qcom/sdm845-cheza-r2.dtb.dtout
arch/arm64/boot/dts/qcom/sdm845-cheza-r2.dtb.reverse.dts
arch/arm64/boot/dts/qcom/sdm845-cheza-r3.dtb.dtout
arch/arm64/boot/dts/qcom/sdm845-cheza-r3.dtb.reverse.dts
arch/arm64/boot/dts/qcom/sdm845-db845c.dtb.dtout
arch/arm64/boot/dts/qcom/sdm845-db845c.dtb.reverse.dts
arch/arm64/boot/dts/qcom/sdm845-mtp.dtb.dtout
arch/arm64/boot/dts/qcom/sdm845-mtp.dtb.reverse.dts
arch/arm64/boot/dts/qcom/sdm850-lenovo-yoga-c630.dtb.dtout
arch/arm64/boot/dts/qcom/sdm850-lenovo-yoga-c630.dtb.reverse.dts
arch/arm64/boot/dts/qcom/sm8150-mtp.dtb.dtout
arch/arm64/boot/dts/qcom/sm8150-mtp.dtb.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r02.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r02.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r02.dtbo.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r16.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r16.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r16.dtbo.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r17.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r17.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r17.dtbo.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r18.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r18.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r18.dtbo.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r19.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r19.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r19.dtbo.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r20.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r20.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r20.dtbo.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r21.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r21.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r21.dtbo.reverse.dts
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r22.dtbo
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r22.dtbo.dtout
arch/arm64/boot/dts/samsung/p3s/p3s_eur_openx_w01_r22.dtbo.reverse.dts
drivers/crypto/fmp/fips140_ic_support.c
drivers/crypto/fmp/fipsed_fmp.c
drivers/crypto/fmp/fipsed_fmp_fips_cipher.c
drivers/crypto/fmp/fipsed_fmp_fips_fops.c
drivers/crypto/fmp/fipsed_fmp_fips_integrity.c
drivers/crypto/fmp/fipsed_fmp_fips_main.c
drivers/crypto/fmp/fipsed_fmp_fips_selftest.c
drivers/crypto/fmp/fipsed_fmp_test.c
drivers/crypto/fmp/fipsed_hmac-sha256.c
drivers/crypto/fmp/fipsed_sha256.c
security/samsung/defex_lsm/cert/pubkey_eng.der
security/samsung/defex_lsm/cert/pubkey_user.der
security/samsung/defex_lsm/defex_packed_rules.inc
security/samsung/defex_lsm/pack_rules
scripts/crypto/__pycache__/

Module.symvers
modules.builtin
modules.order

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers
/modules.builtin.modinfo

#
# RPM spec file (make rpm-pkg)
#
/*.spec

#
# Debian directory (make deb-pkg)
#
/debian/

#
# Snap directory (make snap-pkg)
#
/snap/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# We don't want to ignore the following even if they are dot-files
#
!.clang-format
!.cocciconfig
!.get_maintainer.ignore
!.gitattributes
!.gitignore
!.mailmap

#
# Generated include files
#
/include/config/
/include/generated/
/include/ksym/
/arch/*/include/generated/

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
/all.config
/alldef.config
/allmod.config
/allno.config
/allrandom.config
/allyes.config

# Kdevelop4
*.kdev4

# Clang's compilation database file
/compile_commands.json


